{% extends "base.html" %}

{% block content %}
    <h2>Agregar Relación</h2>
    <form method="post">
        <div class="form-group">
            <label for="person1">Persona 1</label>
            <select class="form-control" id="person1" name="person1_id" required>
                {% for person in persons %}
                    <option value="{{ person.id }}">{{ person.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="person2">Persona 2</label>
            <select class="form-control" id="person2" name="person2_id" required>
                {% for person in persons %}
                    <option value="{{ person.id }}">{{ person.name }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Agregar Relación</button>
    </form>
{% endblock %}
