<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Relaciones</title>
</head>
<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1>Gestión de Relaciones</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('add_person') }}">Add Person</a></li>
                    <li><a href="{{ url_for('add_event') }}">Add Event</a></li>
                    <li><a href="{{ url_for('add_relation') }}">Add Relation</a></li>
                    <li><a href="{{ url_for('search') }}">Search</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert {{ category }}">
                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>
</body>
</html>
